@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

* {
    margin:10px;
}

body {
    color:#FAF5E4;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1em;    
}

/* Grid Start */

.wrapper {
    background-color:#429EC2;
    display:grid;
    grid-template: "header header nav nav"
                   "main main main main"
                   "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 
                        1fr
                        30px;
    min-height: 95vh;
    grid-gap: 5px;
}

.header { 
    grid-area: header; 
    text-align: center;
    justify-content: center;
    align-self: center;
}

.header img {
    border-radius: 20px;
}

.nav { 
    grid-area: nav; 
    align-self: center;

}

.menu li {
    background-color: #354b5a;
    list-style: none;
    display: inline-block;
    border: solid 3px #354B5A;
    border-radius: 5px;
    margin: 0.2rem;
    padding: 0.3rem;

}

.main { 
    grid-area: main; 
    text-align: center;
    align-self: center;
    justify-self: center;
}

.footer { 
    background-color:#354b5a;
    border-radius: 15px;
    font-size:2em;
    align-self: center;
    grid-area: footer;
    text-align: center;
    
}

/* Main Page */

.content-main {
    align-self: center;
    text-align: center;
    justify-self: center;

}


@media screen and (max-width: 950px) {
    * {
        margin: 5px;
        padding: 0;
    }
    
    body {
        font-size:18px;
    }
    
    .wrapper {
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px 
                            auto 
                            1fr
                            30px;
    }

    .menu li {
        list-style: none;
        display: block;
        text-align: center;
    }

    #image-display {
        clear: both;
    }

}
